body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  line-height: 26px;
  
}
.container {
  border: 1px solid white;
  width: 320px;
  margin: 0;
  margin-top: 20px;
  padding: 20px 10px;
}
h1 {
  font-size: 24px;
  text-decoration: underline;
}
p {
  font-size: 16px;
}
.special {
  background-color: white;
  color: black;
}
a {
  display:block;
  width: 300px;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
